<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>
  Student app
</h1>

<ol>
  <li *ngFor=" let x of students">
    {{x.name}}
  </li>
</ol>

<h1>
  Weather in Galway
</h1>
<ol>
  <li *ngFor = "let x of weather">
    {{x.main}}
  </li>
</ol>

@for(w of weather; track w)
{
  <p>
    {{w.main}} - {{w.description}}
  </p>
}
{{temperature}}