<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>
  Student app
</h1>

<ol>
  <!-- The *ngFor directive iterates over the 'students' array -->
  <li *ngFor=" let x of students">
     <!-- Display the name of each student in the list -->
    {{x.name}}
  </li>
</ol>

<h1>
  Weather in Galway
</h1>
<ol>
   <!-- The *ngFor directive iterates over the 'weather' array -->
  <li *ngFor = "let x of weather">
     <!-- Display the 'main' weather condition for each item in the weather array -->
    {{x.main}}
  </li>
</ol>

@for(w of weather; track w)
{
  <p>
    <!-- Display main weather condition and description -->
    {{w.main}} - {{w.description}}
  </p>
}
{{temperature}}